.Container{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  background: linear-gradient(to top, #e1f6ff, #6DD5FA, #2980B9);
  padding:10px;
  border-radius:5px;
  width:30%;
}

@media only screen and (max-width : 767px) {
    .Container{
        width:70%;
    } 
}

@media only screen and (max-width : 1600px) and (min-width:800px) {
    .Container{
        width:40%;
    } 
}
